xforms-engine,
xforms-model,
xforms-instance,
xforms-bind,
xforms-submission,
xforms-function,
xforms-result,
xforms-input,
xforms-secret,
xforms-textarea,
xforms-output,
xforms-upload,
xforms-range,
xforms-trigger,
xforms-submit,
xforms-select,
xforms-select1,
xforms-label,
xforms-help,
xforms-hint,
xforms-alert,
xforms-choices,
xforms-item,
xforms-value,
xforms-itemset,
xforms-copy,
xforms-group,
xforms-switch,
xforms-case,
xforms-dialog,
xforms-show,
xforms-hide,
xforms-action,
xforms-setvalue,
xforms-insert,
xforms-delete,
xforms-setindex,
xforms-toggle,
xforms-setfocus,
xforms-dispatch,
xforms-rebuild,
xforms-recalculate,
xforms-revalidate,
xforms-refresh,
xforms-reset,
xforms-load,
xforms-resource,
xforms-send,
xforms-message,
xforms-script {
    display				: none;
}
		
div#statusPanel {
	display				: none;
	position			: absolute;
	white-space			: pre;
	width				: 300px;
	height				: 120px;
	min-width			: 300px;
	min-height			: 120px;
	padding				: 40px;
	text-align			: center;
	background-color	: #eeeeee;
	opacity				: 0.85;
	filter				: alpha(opacity=85);
	border				: 1px solid black;
	font				: bold 20px Arial, Verdana;
	z-index				: 11;
	-moz-box-sizing		: border-box;
	-webkit-box-sizing	: border-box;
	box-sizing			: border-box;
}
