xforms-action,
xforms-alert-mark,
xforms-bind,
xforms-component,
xforms-delete,
xforms-dialog,
xforms-dispatch,
xforms-group,
xforms-hide,
xforms-input,
xforms-insert,
xforms-instance,
xforms-itext,
xforms-load,
xforms-message,
xforms-model,
xforms-options,
xforms-output,
xforms-range,
xforms-rebuild,
xforms-recalculate,
xforms-refresh,
xforms-repeat,
xforms-reset,
xforms-revalidate,
xforms-script,
xforms-secret,
xforms-select,
xforms-select1,
xforms-send,
xforms-setfocus,
xforms-setindex,
xforms-setnode,
xforms-setselection,
xforms-setvalue,
xforms-show,
xforms-split,
xforms-submission,
xforms-text,
xforms-textarea,
xforms-timer,
xforms-toggle,
xforms-translation,
xforms-tree,
xforms-unload,
xforms-upload,
xforms-value,
xforms-var,
xforms-wrap,
xforms-group[xf-ref]:not([xf-bound]),
xforms-group[xf-bind]:not([xf-bound]),
*[xf-repeat-ref]:not([xf-bound]),
*[xf-repeat-bind]:not([xf-bound]) ,
xforms-case:not([xf-selected = "true"]),
xforms-trigger[xf-ref]:not([xf-bound]),
xforms-trigger[xf-bind]:not([xf-bound]),
xforms-trigger[xf-notrelevant],
xforms-select:not([xf-appearance="full"]) > xforms-body > xforms-item,
xforms-select:not([xf-appearance="full"]) > xforms-body > xforms-itemset,
xforms-select:not([xf-appearance="full"]) > xforms-body > xforms-choices,
xforms-select1:not([xf-appearance="full"]) > xforms-body > xforms-item,
xforms-select1:not([xf-appearance="full"]) > xforms-body > xforms-itemset,
xforms-select1:not([xf-appearance="full"]) > xforms-body > xforms-choices,
xforms-itemset > xforms-label {
	display: none;
}

xforms-group:not([xf-ref]):not([xf-bind]),
xforms-group[xf-bound]:not([xf-notrelevant]),
xforms-repeat[xf-bound]:not([xf-notrelevant]),
xforms-case[xf-selected = "true"],
xforms-select[xf-appearance="full"] > xforms-body > xforms-item,
xforms-select[xf-appearance="full"] > xforms-body > xforms-itemset > xforms-item,
xforms-select[xf-appearance="full"] > xforms-body > xforms-choices > xforms-label,
xforms-select[xf-appearance="full"] > xforms-body > xforms-choices > xforms-item,
xforms-select[xf-appearance="full"] > xforms-body > xforms-choices > xforms-itemset > xforms-item,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-item,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-itemset > xforms-item,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-choices > xforms-label,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-choices > xforms-item,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-choices > xforms-itemset > xforms-item {
	display: block;
}

xforms-repeat[xf-bound]:not([xf-notrelevant]) > xforms-repeat-item {
	display: table-row;
}

xforms-repeat-item > * {
	display: inline-table !important;
}

xforms-output[xf-value],
xforms-output[xf-bound]:not([xf-notrelevant]),
xforms-input[xf-bound]:not([xf-notrelevant]),
xforms-textarea[xf-bound]:not([xf-notrelevant]),
xforms-secret[xf-bound]:not([xf-notrelevant]),
xforms-upload[xf-bound]:not([xf-notrelevant]),
xforms-range[xf-bound]:not([xf-notrelevant]),
xforms-trigger:not([xf-ref]):not([xf-bind]),
xforms-trigger[xf-bound]:not([xf-notrelevant]),
xforms-submit,
xforms-select[xf-bound]:not([xf-notrelevant])[xf-appearance="full"],
xforms-select1[xf-bound]:not([xf-notrelevant])[xf-appearance="full"],
xforms-select[xf-bound]:not([xf-notrelevant]):not([xf-appearance="full"]),
xforms-select[xf-appearance="full"] > xforms-body > xforms-item > xforms-label,
xforms-select[xf-appearance="full"] > xforms-body > xforms-itemset > xforms-item > xforms-label,
xforms-select[xf-appearance="full"] > xforms-body > xforms-choices > xforms-item > xforms-label,
xforms-select[xf-appearance="full"] > xforms-body > xforms-choices > xforms-itemset > xforms-item > xforms-label,
xforms-select1[xf-bound]:not([xf-notrelevant]):not([xf-appearance="full"]),
xforms-select1[xf-appearance="full"] > xforms-body > xforms-item > xforms-label,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-itemset > xforms-item > xforms-label,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-choices > xforms-item > xforms-label,
xforms-select1[xf-appearance="full"] > xforms-body > xforms-choices > xforms-itemset > xforms-item > xforms-label
{
	display: inline-block;
}