span.xforms-required-icon, span.xforms-alert, span.xforms-help, span.xforms-hint {
	vertical-align		: top;
}

.xforms-required-icon {
    display				: none;
    color				: red;
}

.xforms-required .xforms-required-icon {
    display				: inline;
    margin-left			: 3px;
}

span.xforms-help-value, span.xforms-alert-value, span.xforms-hint-value { 
	display				: none;
	background-color	: #ffffee;
	position			: absolute;
	border				: black 1px solid; 
	width				: 200px;
	white-space: normal;
	margin-top			: 16px;
	margin-left			: -16px;
	padding				: 5px;
	-moz-box-sizing		: border-box;
	-webkit-box-sizing	: border-box;
	box-sizing			: border-box;
}

span.xforms-alert {
	display				: none;
}

.xforms-invalid span.xforms-alert {
	display				: inline;
}

span.xforms-alert-value {
	background-color	: #ffeeee;
}

span.xforms-alert-icon, span.xforms-help-icon, span.xforms-hint-icon {
	cursor				: help;
	padding-left		: 16px;
	padding-bottom		: 1px;
	width				: 16px;
	-moz-box-sizing		: border-box;
	-webkit-box-sizing	: border-box;
	box-sizing			: border-box;
}

span.xforms-alert-icon {
	background-image	: url(../img/icon_error.gif); 
	background-repeat : no-repeat;
}

span.xforms-help-icon {
	background-image	: url(../img/icon_help.gif); 
	background-repeat : no-repeat;
}

span.xforms-hint-icon {
	background-image	: url(../img/icon_hint.gif); 
	background-repeat : no-repeat;
}

span.focus {
	display:none;
}