xforms-range-rail, .xsltforms-range-rail {
	width: 200px;
	height: 4px;
	border: 1px solid #999999;
	position: relative;
	margin: 6px 15px 0 10px;
	display: inline-block;
}
	
xforms-range-cursor, .xsltforms-range-cursor {
	margin: 0;
	margin-top: -8px;
	margin-left: -5px;
	width: 17px; 
	height: 17px;
	position: absolute;
	background-image:url('../img/ball.png');
	outline-style: none;
}