#xsltforms-status-panel {
	display: none;
	position: absolute;
	width: 300px;
	min-width: 300px;
	min-height: 20px;
	padding: 10px;
	text-align: center;
	background-color: #eeeeee;
	opacity: 0.85;
	filter: alpha(opacity=85);
	border: 1px solid black;
	font: bold 20px Arial, Verdana;
	z-index: 11;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: content-box;
}