xforms-trigger {
	margin-top: 1px;
}

xforms-trigger a,
xforms-trigger a:link,
xforms-trigger a:hover,
xforms-trigger a:visited {
	text-decoration: none;
	color: #000000;
	border: none !important;
	cursor: pointer;
}