xforms-trigger a, xforms-trigger a:link, xforms-trigger a:hover, xforms-trigger a:visited {
	text-decoration: none;
	color: #000000;
	border: none !important;
	cursor: pointer;
}

xforms-label img{
	border: none !important;
}

img.xforms-value {
	border: 0;
}

.ajx-tabs-list, .ajx-tabs-list a:link, .ajx-tabs-list a:hover, .ajx-tabs-list a:visited {
	text-decoration: none;
	color: #000000;
	border: none !important;
	cursor: pointer;
}