:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 5px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.controls {
  display: flex;
  gap: 16px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #101010;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

textarea {
  color: black;
  font-size: 3em;
}

textarea:valid {
  border-color: green;
  background-color: #f6fff6;
}

textarea:invalid {
  border-color: red;
  background-color: #fff6f6;
}

textarea:focus {
  outline: none;
}

textarea:focus:valid {
  box-shadow: 0 0 0 1px green;
}

textarea:focus:invalid {
  box-shadow: 0 0 0 1px red;
}

pre.error {
  color: #ff6000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #e0e0e0;
  }
  pre.error {
    color: #d8000c;
  }
}
